footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(112, 144, 122);
    padding: 1rem;
}
footer section {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    margin-right: 2rem;
}
h2 {
    color: white;
    border-bottom: 1px solid white;
    margin-bottom: 0.5rem;
    font-size: 20px;
    letter-spacing: 2px;
}
footer a {
    color: white;
    text-decoration: none;
    margin-bottom: 0.25rem;
    font-size: 18px;
}
footer a:hover {
    border-bottom: 1px solid white;
    margin-bottom: calc(0.5em - 1px);
}