* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(241, 240, 240);
    display: flex;
    flex-direction: column;
    height: 100%;
}
header, footer {
    flex: none;
}
main {
    display: flex;
    flex: 1 0 auto;
}
/* nav {
    display: flex;
    justify-content: space-between;
    background: rgb(112, 144, 122);
}
.navrow {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.navrow a {
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    color: white;
}
.navrow-full {
    display: flex;
    list-style: none;
}
.navrow-full a {
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    color: white;
}
.navrow-short {
    list-style: none;
    padding: 0.5rem;
}
@media (max-width: 720px) {
    .navrow-full {
        display: none;
    }
    .navrow-short {
        display: flex;
    }
}
@media (min-width: 720px) {
    .navrow-full {
        display: flex;
    }
    .navrow-short {
        display: none;
    }
}
.nav2 {
    display: flex;
    background: rgb(141, 190, 132);
    align-items: center;
    padding: 1rem 0;
} */
.search {
    display: flex;
    flex: 1;
}
.search input {
    padding: 0.25em 0.5em;
    flex: 1;
    border: none;
  }
  .search button {
    background: white;
    color: black;
    padding: 0.25rem 0.25rem;
}
.brandname {
    font-family:'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: rgb(31, 51, 51);
    margin: 0 1rem;
}
.finance {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    background: red;
    padding: 0.25rem;
    flex-shrink: 0;
    margin: 0 1rem;
}
/* main .categories {
    background:rgb(241, 240, 240)
}
.categories {
    display: flex;
    flex-direction: column;
    flex: 0 1 256px;
    padding: 1rem;
    float: left;
}
.categories a {
    text-decoration: none;
    background: seagreen;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0 1rem 0.5rem;
    padding: 1rem;
}
.categories a:hover {
    background: rgb(35, 96, 61);
    box-shadow: 0 2px 4px -2px black;
} */